![Verne](https://www.vernegroup.com/wp-content/uploads/2020/07/LOGO-VERNE-TECHNOLOGY-GROUP-3.png)
# Repaso b치sico de Pandas

El objetivo de estos ejercicios es repasar los conceptos b치sicos de Pandas

In [2]:
#Importamos el paquete de pandas
import pandas as pd

#El Dataframe es el objeto b치sico de manejo de datos en Pandas. 
#Los Dataframes est치n compuesto por una lista de Series que podemos especificar como diccionarios para generar el DataFrame

city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

pd.DataFrame({ 'City name': city_names, 'Population': population })

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199

In [3]:
#Lo habitual es generar los Dataframe a partir de lecturas de dato de origen

california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
california_housing_dataframe.describe()

          longitude      latitude  ...  median_income  median_house_value
count  17000.000000  17000.000000  ...   17000.000000        17000.000000
mean    -119.562108     35.625225  ...       3.883578       207300.912353
std        2.005166      2.137340  ...       1.908157       115983.764387
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.790000     33.930000  ...       2.566375       119400.000000
50%     -118.490000     34.250000  ...       3.544600       180400.000000
75%     -118.000000     37.720000  ...       4.767000       265000.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

In [ ]:
#Para el acceso a los datos de los Dataframes podemos utilizar operaciones de lista o diccionario de Python

cities = pd.DataFrame({ 'City name': city_names, 'Population': population })
print(type(cities['City name']))
cities['City name']

<class 'pandas.core.series.Series'>

0    San Francisco
1         San Jose
2       Sacramento
Name: City name, dtype: object

In [ ]:
#Accedemos a la primera ocurrencia (fila) del Dataframe

print(type(cities['City name'][1]))
cities['City name'][1]

<class 'str'>

'San Jose'

In [ ]:
#Obtenemos un Dataframe con las dos primeras filas
print(type(cities[0:2]))
cities[0:2]

<class 'pandas.core.frame.DataFrame'>

       City name  Population
0  San Francisco      852469
1       San Jose     1015785

In [ ]:
#Modificar un Dataframe tambi칠n es muy sencillo, por ejemplo el siguiente c칩digo a침ade dos Series al Dataframe existente

cities['Area square miles'] = pd.Series([46.87, 176.53, 97.92])
cities['Population density'] = cities['Population'] / cities['Area square miles']
cities

       City name  Population  Area square miles  Population density
0  San Francisco      852469              46.87        18187.945381
1       San Jose     1015785             176.53         5754.177760
2     Sacramento      485199              97.92         4955.055147

# Ejercicio #1
Modifica la tabla de ciudades a침adiendo una nueva columna boolean que ser치 True si y solo si las siguientes dos condiciones son verdaderas:

La ciudad se nombra despu칠s de un San
La ciudad tiene un 치rea mayor de 50 millas cuadradas

Nota: Las Series Boolean se combina utilizando bitwise en lugar de los operadores booleanos tradicionales. Por ejemplo, cuando queremos realizar un and l칩gico, utilizamos & en lugar de and

In [ ]:
#Tu soluci칩n
cities['Is wide and has saint name'] = (cities['Area square miles'] > 50) & cities['City name'].apply(lambda name: name.startswith('San'))
cities

       City name  Population  ...  Population density  Is wide and has saint name
0  San Francisco      852469  ...        18187.945381                       False
1       San Jose     1015785  ...         5754.177760                        True
2     Sacramento      485199  ...         4955.055147                       False

[3 rows x 5 columns]

# Indexes
Tanto las Series como los Dataframe definen la propiedad index que asigna un identificador a cada fila 
Por defecto, en su construcci칩n, pandas asigna valores de 칤ndice que reflejan la ordenaci칩n de los datos de origen. Una vez creados, los valores del 칤ndice son estable, es decir, no cambian cuando los datos se reordenan

In [ ]:
city_names.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
cities.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
#Podemos llamar a reindex para ordernar manualmente las filas. Por ejemplo, el siguiente c칩digo tendr칤a el mismo efecto que ordenar por nombre de ciudad
cities.reindex([2, 0, 1])

       City name  Population  ...  Population density  Is wide and has saint name
2     Sacramento      485199  ...         4955.055147                       False
0  San Francisco      852469  ...        18187.945381                       False
1       San Jose     1015785  ...         5754.177760                        True

[3 rows x 5 columns]

In [ ]:
#Reindexar es un buen modo de barajar(aleatoriamente) un Dataframe. En el siguiente ejemplo le pasamos el 칤ndice a a la funci칩n `random.permutation`que baraja sus valores en l칤nea. 
#Llamar a reindex de este modo reordena aleatoriomente las filas

import numpy as np
cities.reindex(np.random.permutation(cities.index))

       City name  Population  ...  Population density  Is wide and has saint name
2     Sacramento      485199  ...         4955.055147                       False
1       San Jose     1015785  ...         5754.177760                        True
0  San Francisco      852469  ...        18187.945381                       False

[3 rows x 5 columns]

# Ejercicio #2
El m칠todo reindex permite indexar valores que no est치n en los valores originales del 칤ndice del Dataframe. Pru칠balo y mira lo que ocurre si utilizamos esos valores. Porque crees que se permite hacer esto?

In [ ]:
#Tu codigo
cities.reindex([0, 4, 5, 2])

       City name  Population  ...  Population density  Is wide and has saint name
0  San Francisco    852469.0  ...        18187.945381                       False
4            NaN         NaN  ...                 NaN                         NaN
5            NaN         NaN  ...                 NaN                         NaN
2     Sacramento    485199.0  ...         4955.055147                       False

[4 rows x 5 columns]