![Verne](https://www.vernegroup.com/wp-content/uploads/2020/07/LOGO-VERNE-TECHNOLOGY-GROUP-3.png)

# Codificación de Variables Categóricas

In [1]:
import pandas as pd
import sqlite3
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
conn = sqlite3.connect('/content/drive/MyDrive/Datos/Tiendas24H.sqlite')
query = "select c.CodCliente, FechaNacimiento, EstadoCivil, Sexo,IngresosAnuales,HijosACargo, N.NivelAcademico, O.Ocupacion from clientes c inner join NivelAcademico N    on c.NivelAcademico = N.Codigo     inner join Ocupacion O on c.Ocupacion = o.Codigo"

df = pd.read_sql_query(query,conn)

df.head()

  CodCliente FechaNacimiento  ... NivelAcademico                  Ocupacion
0     000020      1976-04-08  ...   Licenciatura  Profesional especializado
1     000026      1975-05-14  ...   Licenciatura  Profesional especializado
2     000029      1975-08-12  ...   Licenciatura  Profesional especializado
3     000046      1978-02-15  ...   Licenciatura  Profesional especializado
4     000047      1978-08-08  ...   Licenciatura  Profesional especializado

[5 rows x 8 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2441 entries, 0 to 2440
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CodCliente       2441 non-null   object
 1   FechaNacimiento  2441 non-null   object
 2   EstadoCivil      2440 non-null   object
 3   Sexo             2440 non-null   object
 4   IngresosAnuales  2440 non-null   float64
 5   HijosACargo      2440 non-null   float64
 6   NivelAcademico   2440 non-null   object
 7   Ocupacion        2440 non-null   object
dtypes: float64(2), object(6)
memory usage: 152.7+ KB

In [5]:
df.Sexo.unique()

array(['M', 'F', None], dtype=object)

In [6]:
df.isna().sum()

CodCliente         0
FechaNacimiento    0
EstadoCivil        1
Sexo               1
IngresosAnuales    1
HijosACargo        1
NivelAcademico     1
Ocupacion          1
dtype: int64

In [7]:
df.dropna(axis=0,inplace=True)

In [8]:
from sklearn.preprocessing import  OneHotEncoder,LabelEncoder

le=LabelEncoder()
df['EstadoCivil'] = le.fit_transform(df['EstadoCivil'])
df['Sexo'] = le.fit_transform(df['Sexo'])

In [ ]:
df.head()

  CodCliente FechaNacimiento  ...  NivelAcademico                  Ocupacion
0     000020      1976-04-08  ...    Licenciatura  Profesional especializado
1     000026      1975-05-14  ...    Licenciatura  Profesional especializado
2     000029      1975-08-12  ...    Licenciatura  Profesional especializado
3     000046      1978-02-15  ...    Licenciatura  Profesional especializado
4     000047      1978-08-08  ...    Licenciatura  Profesional especializado

[5 rows x 8 columns]

In [9]:

# Crear la instancia del Codificador OneHot
enc = OneHotEncoder(handle_unknown='ignore')

enc_df = pd.DataFrame(enc.fit_transform(df[['NivelAcademico']] ).toarray())

In [10]:
enc_df

        0    1    2    3    4
0     0.0  0.0  0.0  0.0  1.0
1     0.0  0.0  0.0  0.0  1.0
2     0.0  0.0  0.0  0.0  1.0
3     0.0  0.0  0.0  0.0  1.0
4     0.0  0.0  0.0  0.0  1.0
...   ...  ...  ...  ...  ...
2435  0.0  0.0  1.0  0.0  0.0
2436  0.0  0.0  0.0  1.0  0.0
2437  0.0  0.0  0.0  1.0  0.0
2438  0.0  0.0  0.0  1.0  0.0
2439  0.0  0.0  0.0  0.0  1.0

[2440 rows x 5 columns]

In [11]:
# Mezclar con el df original
bridge_df = df.join(enc_df)
bridge_df

     CodCliente FechaNacimiento  EstadoCivil  Sexo  ...    1    2    3    4
0        000020      1976-04-08            0     1  ...  0.0  0.0  0.0  1.0
1        000026      1975-05-14            1     1  ...  0.0  0.0  0.0  1.0
2        000029      1975-08-12            0     1  ...  0.0  0.0  0.0  1.0
3        000046      1978-02-15            1     0  ...  0.0  0.0  0.0  1.0
4        000047      1978-08-08            1     0  ...  0.0  0.0  0.0  1.0
...         ...             ...          ...   ...  ...  ...  ...  ...  ...
2436  Y1795344R      1944-09-17            0     0  ...  0.0  0.0  1.0  0.0
2437  Y2404085R      1973-01-04            1     0  ...  0.0  0.0  1.0  0.0
2438  Y2544794L      1973-08-26            0     1  ...  0.0  0.0  1.0  0.0
2439  Y2671043K      1973-10-23            1     0  ...  0.0  0.0  0.0  1.0
2440  Y2716961P      1973-03-16            0     1  ...  NaN  NaN  NaN  NaN

[2440 rows x 13 columns]

In [12]:

# One Hot encoding utilizando dummies. Podemos hacerlo para varias variables y agrega sufijos y valores como nombre de columna
dum_df = pd.get_dummies(df, columns=["NivelAcademico","Ocupacion"] )

In [13]:
dum_df

     CodCliente  ... Ocupacion_Profesional independiente
0        000020  ...                                   0
1        000026  ...                                   0
2        000029  ...                                   0
3        000046  ...                                   0
4        000047  ...                                   0
...         ...  ...                                 ...
2436  Y1795344R  ...                                   0
2437  Y2404085R  ...                                   0
2438  Y2544794L  ...                                   0
2439  Y2671043K  ...                                   0
2440  Y2716961P  ...                                   0

[2440 rows x 16 columns]