![Dataging](https://raw.githubusercontent.com/dataging/public-resources/61263724aea5476ba5ebf38478beada519091957/logodataging.png)

# Codificación de Variables Categóricas

In [1]:
import pandas as pd
import os
from dotenv import load_dotenv

In [3]:
load_dotenv() #lee las variables de entorno del archivo .env

servidor = os.getenv("SERVIDOR_MYSQL")
usuario = os.getenv("USUARIO_MYSQL")
password = os.getenv("PASSWORD_MYSQL")

import mysql.connector
try:
    cnx = mysql.connector.connect(user=usuario, password=password,
                              host=servidor, database='sakila') # Definimos la cadena de conexión de la base de datos e intentamos conectar
    cursor=cnx.cursor() #Creamos un cursor para poder ejecutar consultas    
except :
    print("Error conectando a la base de datos ")

In [ ]:
query = "SELECT * FROM film"
df = pd.read_sql(query,cnx)
df.head()

C:\Users\adminsql\AppData\Local\Temp\ipykernel_9172\3438648382.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,cnx)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"{Deleted Scenes, Behind the Scenes}",2006-02-15 06:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"{Deleted Scenes, Trailers}",2006-02-15 06:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"{Deleted Scenes, Trailers}",2006-02-15 06:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"{Commentaries, Behind the Scenes}",2006-02-15 06:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,{Deleted Scenes},2006-02-15 06:03:42

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      object
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 101.7+ KB

In [7]:
df.rating.unique()

array(['PG', 'G', 'NC-17', 'PG-13', 'R'], dtype=object)

In [8]:
df.isna().sum()

film_id                    0
title                      0
description                0
release_year               0
language_id                0
original_language_id    1000
rental_duration            0
rental_rate                0
length                     0
replacement_cost           0
rating                     0
special_features           0
last_update                0
dtype: int64

In [9]:
df.dropna(axis=0,inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               0 non-null      int64
 1   title                 0 non-null      object
 2   description           0 non-null      object
 3   release_year          0 non-null      int64
 4   language_id           0 non-null      int64
 5   original_language_id  0 non-null      object
 6   rental_duration       0 non-null      int64
 7   rental_rate           0 non-null      float64
 8   length                0 non-null      int64
 9   replacement_cost      0 non-null      float64
 10  rating                0 non-null      object
 11  special_features      0 non-null      object
 12  last_update           0 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 0.0+ bytes

In [14]:
df.isna().sum()

film_id                 0
title                   0
description             0
release_year            0
language_id             0
original_language_id    0
rental_duration         0
rental_rate             0
length                  0
replacement_cost        0
rating                  0
special_features        0
last_update             0
dtype: int64

In [15]:
df.head()

Empty DataFrame
Columns: [film_id, title, description, release_year, language_id, original_language_id, rental_duration, rental_rate, length, replacement_cost, rating, special_features, last_update]
Index: []

In [16]:
query = "SELECT * FROM film"
df = pd.read_sql(query,cnx)
df.head()

C:\Users\adminsql\AppData\Local\Temp\ipykernel_9172\2724526907.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,cnx)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"{Deleted Scenes, Behind the Scenes}",2006-02-15 06:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"{Deleted Scenes, Trailers}",2006-02-15 06:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"{Deleted Scenes, Trailers}",2006-02-15 06:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"{Commentaries, Behind the Scenes}",2006-02-15 06:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,{Deleted Scenes},2006-02-15 06:03:42

In [ ]:
from sklearn.preprocessing import  LabelEncoder #  Para codificar etiquetas

le=LabelEncoder()
df['rating'] = le.fit_transform(df['rating'])
df['special_features'] = le.fit_transform(df['special_features'])

# En este caso no tiene sentido codificar las columnas de texto, pero lo hacemos para mostrar el proceso
# Disponemos de otro codificador OrdinalEncoder, para categorías que son ordinales

In [17]:
df.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"{Deleted Scenes, Behind the Scenes}",2006-02-15 06:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"{Deleted Scenes, Trailers}",2006-02-15 06:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"{Deleted Scenes, Trailers}",2006-02-15 06:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"{Commentaries, Behind the Scenes}",2006-02-15 06:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,{Deleted Scenes},2006-02-15 06:03:42

In [18]:
from sklearn.preprocessing import  OneHotEncoder
# Crear la instancia del Codificador OneHot
enc = OneHotEncoder(handle_unknown='ignore')

enc_df = pd.DataFrame(enc.fit_transform(df[['rating']] ).toarray())

In [19]:
enc_df

       0    1    2    3    4
0    0.0  0.0  1.0  0.0  0.0
1    1.0  0.0  0.0  0.0  0.0
2    0.0  1.0  0.0  0.0  0.0
3    1.0  0.0  0.0  0.0  0.0
4    1.0  0.0  0.0  0.0  0.0
..   ...  ...  ...  ...  ...
995  1.0  0.0  0.0  0.0  0.0
996  0.0  1.0  0.0  0.0  0.0
997  0.0  1.0  0.0  0.0  0.0
998  0.0  0.0  0.0  0.0  1.0
999  0.0  1.0  0.0  0.0  0.0

[1000 rows x 5 columns]

In [20]:
# Mezclar con el df original
bridge_df = df.join(enc_df)
bridge_df

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,0,1,2,3,4
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"{Deleted Scenes, Behind the Scenes}",2006-02-15 06:03:42,0.0,0.0,1.0,0.0,0.0
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"{Deleted Scenes, Trailers}",2006-02-15 06:03:42,1.0,0.0,0.0,0.0,0.0
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"{Deleted Scenes, Trailers}",2006-02-15 06:03:42,0.0,1.0,0.0,0.0,0.0
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"{Commentaries, Behind the Scenes}",2006-02-15 06:03:42,1.0,0.0,0.0,0.0,0.0
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,{Deleted Scenes},2006-02-15 06:03:42,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,None,6,0.99,183,9.99,G,"{Trailers, Behind the Scenes}",2006-02-15 06:03:42,1.0,0.0,0.0,0.0,0.0
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,None,4,0.99,179,14.99,NC-17,"{Trailers, Behind the Scenes}",2006-02-15 06:03:42,0.0,1.0,0.0,0.0,0.0
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,None,6,0.99,105,10.99,NC-17,{Deleted Scenes},2006-02-15 06:03:42,0.0,1.0,0.0,0.0,0.0
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,None,5,2.99,101,28.99,R,"{Deleted Scenes, Trailers}",2006-02-15 06:03:42,0.0,0.0,0.0,0.0,1.0
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"{Commentaries, Trailers, Behind the Scenes}",2006-02-15 06:03:42,0.0,1.0,0.0,0.0,0.0

In [21]:

# One Hot encoding utilizando dummies. Podemos hacerlo para varias variables y agrega sufijos y valores como nombre de columna
dum_df = pd.get_dummies(df, columns=["rating"] )

In [22]:
dum_df

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,special_features,last_update,rating_G,rating_NC-17,rating_PG,rating_PG-13,rating_R
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,"{Deleted Scenes, Behind the Scenes}",2006-02-15 06:03:42,False,False,True,False,False
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,"{Deleted Scenes, Trailers}",2006-02-15 06:03:42,True,False,False,False,False
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,"{Deleted Scenes, Trailers}",2006-02-15 06:03:42,False,True,False,False,False
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,"{Commentaries, Behind the Scenes}",2006-02-15 06:03:42,True,False,False,False,False
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,{Deleted Scenes},2006-02-15 06:03:42,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,None,6,0.99,183,9.99,"{Trailers, Behind the Scenes}",2006-02-15 06:03:42,True,False,False,False,False
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,None,4,0.99,179,14.99,"{Trailers, Behind the Scenes}",2006-02-15 06:03:42,False,True,False,False,False
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,None,6,0.99,105,10.99,{Deleted Scenes},2006-02-15 06:03:42,False,True,False,False,False
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,None,5,2.99,101,28.99,"{Deleted Scenes, Trailers}",2006-02-15 06:03:42,False,False,False,False,True
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,"{Commentaries, Trailers, Behind the Scenes}",2006-02-15 06:03:42,False,True,False,False,False