In [1]:
import sqlite3
import pandas as pd

In [16]:
conexion = sqlite3.connect('C:\\Users\\anton\\OneDrive\\Cursos\\IFFE\\Python\\code\\Python_IFFE\\Datos\\sakila.db')
# /content/drive/MyDrive/Datos/sakila.db
# 
consulta = 'SELECT * FROM INVENTORY'

In [17]:
try:
  inventario=pd.read_sql(consulta,conexion)
except:
  print('imposible conectar y ejecutar la consulta')

In [18]:
inventario.head()

   inventory_id  film_id  store_id          last_update
0             1        1         1  2006-02-15 05:09:17
1             2        1         1  2006-02-15 05:09:17
2             3        1         1  2006-02-15 05:09:17
3             4        1         1  2006-02-15 05:09:17
4             5        1         2  2006-02-15 05:09:17